body {
    background: #111;
    color: white;
    font-family: "Open Sans",  sans-serif;
    text-align: center;
}

.container {
    display: table;
    width: 100%;
}

.main {
    font-weight: bold;
    display: table-cell;
    width: 100%;
    height: calc(100vh - 50px);
    vertical-align: middle;
    text-align: center;
}

.pulse {
    font-size: 142px;
}

.info {
    font-size: 18px;
}

.help a {
    text-decoration: none;
    color: #5e5eff;
}

