body {
    background: #111;
    color: white;
    font-family: "Open Sans",  sans-serif;
    text-align: center;
}

.container {
    display: table;
    width: 100%;
}

.main {
    font-weight: bold;
    display: table-cell;
    width: 100%;
    height: calc(100vh - 50px);
    vertical-align: middle;
    text-align: center;
}

.pulse {
    font-size: 100px;
    animation:blur 5.00s ease-out infinite;
}

.info {
    font-size: 18px;
}

.help a {
    text-decoration: none;
    color: #5e5eff;
}

 @keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}

