.music {
    position: relative;
    top: 12px;
}

body {
 background: #111;
 color: white;
 font-family: "Open Sans",  Impact;
 text-align:center;
 animation:blur .75s ease-out infinite;
}
 @keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}


div {
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: Sans-Serif;
    font-size: 200%;
    
}

